.godot/
/android/
godot-cpp
build
.vscode
.DS_Store
._*
*.uid
*.import
*.app
*.command
Resources/Blocks/*
Sounds/*
bin/libgodot_player_extension.dylib
bin/libgodot_player_extension.so
bin/godot_player_extension.dll
Fonts/*